<div class="rental-cities">
      {{#each rentals}}
            <section class="cityProvince">
                  <center><b><p id="province">{{cityProvince}}</p></b></center>
                  <div class="grid">
                  {{#each rentals}}
                  <div class="card">
                        {{>rental this}}
                        </div>
                  {{/each}}
                  </div>
            </section>
      {{/each}}
 </div>